<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/style-2022-10-21.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    {% feed_meta %}
    {% seo %}
</head>
<body>
    <header>
        <div id="site-title"><a href="/"><img src="/assets/images/icon.svg" />Peer Review</a><sub>( blog )</sub></div>
        <div id="navigation">
        </div>
    </header>
    <main id="content" role="main">
        <div id="get-involved">
            <div class="description">
                Peer Review is an open source, diamond open acccess (free to
                access, free to publish), non-profit scientific and academic
                publishing platform. The platform is currently in alpha testing
                aiming to begin a beta period in early November. 
            </div>
            <div class="ways-to-get-involved">
                <div id="github" class="involve-method">
                    <p>Contribute on GitHub.</p>
                    <a href="https://github.com/danielbingham/peerreview"><img src="assets/images/GitHub-Mark-64px.png" /></a>
                </div>
                <div id="sponsor" class="involve-method">
                    <p>Sponsor us on GitHub.</p>
                    <div class="sponsors-badge"><a href="https://github.com/sponsors/danielBingham"><img alt="GitHub Sponsors" src="https://img.shields.io/github/sponsors/danielbingham?style=for-the-badge" /></a></div>
                </div>
                <div id="slack" class="involve-method">
                    <p>Join us on Slack.</p>
                    <a href="https://join.slack.com/t/peer-review-io/shared_invite/zt-1hocmaafn-7dr~wuqnasfFMRXygD_HxA"><img alt="Slack" src="assets/images/Slack_Mark.png" /></a>
                </div>
            </div>
        </div>
        {{ content }}
    </main>
</body>
</html>
